<div class="table-responsive">
    <table id="metricsTable" class="table table-custom">
        <thead>
            <tr>
                <th>StabilityRatio</th>
                <th>Return</th>
                <th>Drawdown</th>
                <th>RreturnDd</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ metrics.StabilityRatio }}</td>
                <td>{{ metrics.Return }}</td>
                <td>{{ metrics.Drawdown }}</td>
                <td>{{ metrics.RreturnDd }}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="table-responsive">

    <table id="challengeTable" class="table table-custom">
        <thead>
            <tr>
                <th>PositiveHits</th>
                <th>NegativeHits</th>
                <th>MeanTimeToPositive</th>
                <th>StdTimeToPositive</th>
                <th>MeanTimeToNegative</th>
                <th>StdTimeToNegative</th>
                <th>MarginCalls</th>
                <th>StopOuts</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ metrics.PositiveHits }}</td>
                <td>{{ metrics.NegativeHits }}</td>
                <td>{{ metrics.MeanTimeToPositive }}</td>
                <td>{{ metrics.StdTimeToPositive }}</td>
                <td>{{ metrics.MeanTimeToNegative }}</td>
                <td>{{ metrics.StdTimeToNegative }}</td>
                <td>{{ metrics.MarginCalls }}</td>
                <td>{{ metrics.StopOuts }}</td>
            </tr>
        </tbody>
    </table>

    <div id="equity-plot"></div>

    <!-- Guardar los datos del gráfico en un script JSON -->
    <script id="equity-plot-data" type="application/json">
        {{ equity_plot | safe }}
    </script>

</div>
