{% extends "base.html" %}

{% block title %}Used strategies{% endblock %}

{% block content %}
<div class="container my-5">
    <h1 class="text-center mb-4">Used strategies</h1>

    <!-- Botón Crear -->
    <div class="d-flex justify-content-end mb-3">
        <a href="/backtest/new" class="btn btn-primary">
            <i class="fas fa-plus-circle"></i>
        </a>
    </div>


    <!-- Tabla de Estrategias -->
    <div class="table-responsive">
        <table class="table table-custom">
            <thead>
                <tr>
                    <th>Strategy</th>
                    <th>Description</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for strategy in strategies %}
                <tr>
                    <td>{{ strategy.Name }}</td>
                    <td>{{ strategy.Description }}</td>
                    <td>
                        <a href="#" class="view-bots btn btn-success" data-strategy-id="{{ strategy.Id }}">
                            <i class="fas fa-money-bill-wave" aria-hidden="true"></i>
                        </a>
                    </td>
                    <td>
                        <a href="#" class="view-robusts btn btn-primary" data-strategy-id="{{ strategy.Id }}">
                            <i class="fas fa-bolt" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


<div id="modal-container"></div>



<script>
// Selecciona ambos botones (view-robusts y view-bots)
const actionButtons = document.querySelectorAll('.view-robusts, .view-bots');

actionButtons.forEach(button => {
    button.addEventListener('click', async () => {
        const strategyId = button.getAttribute('data-strategy-id');
        let endpoint = '';

        // Determinar el endpoint según la clase del botón
        if (button.classList.contains('view-robusts')) {
            endpoint = `/backtest/strategies/${strategyId}/get_robusts`;

        } else if (button.classList.contains('view-bots')) {
            endpoint = `/tickers/${strategyId}`; 
        }

        try {
            // Realizar la solicitud al endpoint correspondiente
            const response = await fetch(endpoint);
            
            if (response.ok) {
                const modalHtml = await response.text();

                // Contenedor del modal
                const modalContainer = document.getElementById('modal-container');
                modalContainer.innerHTML = modalHtml;

                // Identificar el ID del modal dinámicamente según el contenido
                const modalElement = modalContainer.querySelector('.modal');
                const dynamicModal = new bootstrap.Modal(modalElement);
                dynamicModal.show();
            } else {
                console.error('Error en la respuesta del servidor:', response.statusText);
                alert('Hubo un error al cargar los datos. Por favor, intenta de nuevo.');
            }
        } catch (error) {
            console.error('Error al cargar los datos del servidor:', error);
            alert('Hubo un error al cargar los datos. Por favor, intenta de nuevo.');
        }
    });
});

</script>
{% endblock %}
